input:focus {
    outline: 2px solid blue;
    background: white;
}

li:first-child{

    color: green;
    font-weight: bold;
}

li:last-child{
    color: red;
    font-weight: bold;
}


tr:nth-child(even){
    background-color: gray;
}

.quote::after{
    content: '"';
    color: blue;
    font-size: 24px;
}

.quote::before{
    content: '"';
    color: red;
    font-size: 24px;
}