body{
    margin: 0%;
}
nav{
    text-align: center;
    color: cadetblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

